 
  <nav class="navbar navbar-light navbar-expand-lg  fixed-top" style="background: #f9e9f9">
  <div class="container">
    <a class="navbar-brand" href="#"> 我的博客网 </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 260px;">
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{:url('/index/index')}">主页</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{:url('/index/blog')}">博客</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{:url('/index/blog')}">视频</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{:url('/index/blog')}">下载</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="#">联系我</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">注销</a>
        </li>
 
      </ul>
     
    </div>
  </div>
</nav>


 