<div id="sidebar" class="col-xs-12 col-sm-4 col-md-4 col-lg-4">


    <aside id="widget-welcome" class="widget panel panel-default">
        <div class="panel-body">
            <p class="h4"> 欢迎访问我的博客网站  </p>
            <p>
                <strong><a href="/">我的博客</a></strong> 基于 ThinkPHP6框架 构建
            </p>
        </div>
    </aside>
    <aside id="widget-categories" class="widget panel panel-default">
        <div class="panel-heading h6">
            博文类型
        </div>

        <ul class="category-root list-group">


            <li class="list-group-item">
                <a href="">历史 </a>
            </li>

            <li class="list-group-item">
                <a href="">政治 </a>
            </li>
        </ul>

    </aside>
</div>